

body{
    background-color: thistle;
}
.main-header{
    background-color: rgba(0, 0, 0, .6);
    background-image: url("../images/background/credit-card.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding: 15px;
    text-align: center;
    margin: 10px;
}

.basic-info-header{
    text-align: center;
    margin: 20px;
    font-size: 20px;
}

.basic-info-header::before{
    content: "";
    width: 500px;
    height: 5px;
    margin-right: 10px;
    display: inline-block;
    position: relative;
    z-index: -2;
    bottom: 0px;

    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.basic-info-header::after{
    content: "";
    width: 500px;
    height: 5px;
    margin-left: 10px;
    display: inline-block;
    position: relative;
    z-index: -2;

    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

span{
    background-color: thistle;
}

.basic-container{
    display: flex;
    /* background-color: yellow; */
    margin-left: 40px;
    margin-right: 40px;
    justify-content: center;
    text-align: center;
}

.basic-infos{
    /* background-color: yellowgreen; */
    display: inline;
    flex:1 1;
}

.intake{
    background-color: wheat;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    border-width: 1.5px;
    margin: 5px;
}

.repayment-info-header{
    text-align: center;
    margin: 20px;
    font-size: 20px;
}

.repayment-info-header::before{
    content: "";
    width: 475px;
    height: 5px;
    margin-right: 10px;
    display: inline-block;
    position: relative;
    z-index: -2;
    bottom: 0px;

    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.repayment-info-header::after{
    content: "";
    width: 475px;
    height: 5px;
    margin-left: 10px;
    display: inline-block;
    position: relative;
    z-index: -2;

    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.svg-img1{
    margin-left: 40px;
    position:absolute;
    left: 70px;
    width: 16%;
}

.svg-img2{
    margin-left: 40px;
    position:absolute;
    right: 120px;
    width: 13%;
}

.repayment-container{
    /* background-color: yellow; */
    display: block;
    margin-left: 40px;
    margin-right: 40px;    
}

.repayment-info{
    /* background-color: yellowgreen; */
    display: flex;    
    margin-bottom: 10px;
    justify-content: center;
    position: relative;
    right: 8%;
    
}

.repayment-info select{
    background-color: wheat;
    position: absolute;
    right: 250px;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    border-width: 1.5px;
}


.bill-header{
    text-align: center;
    margin: 20px;
    font-size: 20px;
}

.bill-header::before{
    content: "";
    width: 515px;
    height: 5px;
    margin-right: 10px;
    display: inline-block;
    position: relative;
    z-index: -2;
    bottom: 0px;

    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.bill-header::after{
    content: "";
    width: 515px;
    height: 5px;
    margin-left: 10px;
    display: inline-block;
    position: relative;
    z-index: -2;

    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.bill-summary-container{
    /* background-color: tomato; */
    display: flex;
    margin-right: 40px;
    margin-left: 40px;
}

.bill-amount-container{
    /* background-color: turquoise; */
    display: block;
    text-align: center;
    flex: 1 1;
}

.bill-amount-info{
    /* background-color: yellowgreen; */
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    margin-left: 80px;
}

.bill-amount-info input{
    background-color: wheat;
    position: absolute;
    left: 30%;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    border-width: 1.5px;
}

.bill-paid-container{
    /* background-color: violet; */
    display: block;
    text-align: center;
    flex: 1 1;
}

.bill-paid-info{
    /* background-color: yellow; */
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    margin-left: 60px;
}

.bill-paid-info input{
    background-color: wheat;
    position:absolute;
    left: 75%;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    border-width: 1.5px;
}

.submit-container{
    /* background-color: whitesmoke; */
    margin: 20px;
    text-align: center;
}

.btn-1 {
    background-color:red;
    color: whitesmoke;
    text-align: center;
    border-radius: 6px;    
    width: 150px;
    height: 35px;
    transition: all .5s ease-in-out;
    border-width: 1.5px;
    font-size: 20px;
    box-shadow: inset 0 0 0 0 #f9e506;
    }

.btn-1:hover{
    box-shadow: inset 150px 0 0 0 #f9e506;
    cursor: pointer;
    color: black;
}

.prediction{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: 20px;
}

.footer{
    text-align: center;
}
