body {
    background-color: #ABA5FF;
    text-align: center;
    margin: 0%;
    font-family: 'Ubuntu';
}

/* #6C63FF,#8179FF,#968FFF,#ABA5FF,#C0BCFF,#D5D2FF,#EAE8FF */
/* #6C63FF,#5C54DA,#4D46B6,#3D3891,#2E2A6D,#1E1C48,#0F0E24 */

h1 {
    margin: auto auto auto 0%;
    color: #EAE8FF;
    font-family: 'Karla';
    font-weight: 600;
    letter-spacing: 1px;
}

h2 {
    color: #EAE8FF;
    border-bottom: 1px solid #d5d2ff;
}

h3 {
    color: #5c54da;
}

h4 {
    font-size: 1.1rem;
}

.container-fluid {
    padding: 3% 10%;
}

.bg-color {
    background-color: #c0bcff;
}

/* Title Section */

#title {
    display: flex;
    justify-content: center;
    background-color: #5c54da;
    padding: 0% 10%;
}

.logo {
    margin: auto auto auto 0%;
    width: 8%;
}

/* Basic Information */
.basic-infos {
    margin: 4% 1%;
}

.intake {
    background-color: #6C63FF;
    text-align: center;
    color: #EAE8FF;
    border-radius: 5px;
    border-width: 1.5px;
    padding: 1px;
    width: 100%;
}

input::placeholder {
    color: #EAE8FF;
}

/* Payment info */

.payment-col {
    margin: 4% 0% 0%;
}

.payment-info {
    display: flex;
    margin: 0% 0% 3% 5%;
    justify-content: left;
    position: relative;
}

/* Repayment Information */

.svg-img {
    width: 100%;
}

.payment-info select {
    background-color: #6C63FF;
    color: #EAE8FF;
    border-radius: 5px;
    text-align: center;
    border-width: 1.5px;
    position: absolute;
    right: 10%;
}

/* Bill Information */

.payment-info input {
    background-color: #6C63FF;
    color: #EAE8FF;
    border-radius: 5px;
    width: 40%;
    text-align: center;
    border-width: 1.5px;
    position: absolute;
    right: 10%;
}

/* Submit */

.submit {
    background-color: #5c54da;
}

.btn-1 {
    background-color: red;
    color: #fff;
    border-radius: 6px;
    width: 150px;
    height: 35px;
    transition: all .5s ease-in-out;
    border-width: 1.5px;
    font-size: 20px;
    box-shadow: inset 0 0 0 0 #98ff63;
}

.btn-1:hover {
    box-shadow: inset 150px 0 0 0 #98ff63;
    cursor: pointer;
    color: black;
}

/* Footer */

.footer {
    background-color: #5c54da;
    color: #EAE8FF;
    padding-top: 5%;
    padding-bottom: .5%;
}

h5 {
    font-size: 0.8rem;
    letter-spacing: 0.5px;
}

/* max-width:600px */

@media (max-width:1150px) {
    h1 {
        font-size: 1.75rem;
    }

    .payment-info select {
        width: 32%;
    }

    .payment-info input {
        width: 30%;
    }
}


#result {
    background-color: black;
    margin-top: 30px;
    width: 100%;
    padding: 1%;
    box-shadow: 8px 8px 0 0 rgba(0, 0, 0, .3);
}

.prediction-text {
    font-size: 1.7rem;
    padding: 2%;
    letter-spacing: 3px;
    color: #EAE8FF;
    margin: 4% auto;
    position: relative;
    background-color: black;
    animation: text 3s 1;

}

.prediction-answer {
    padding: 2%;
    font-size: 1.8rem;
    color: #6C63FF;
}

@keyframes text {
    0% {
        color: black;
        margin-bottom: -10%;
    }

    30% {
        letter-spacing: 7px;
        margin-bottom: -10%;
    }

}

.reset {
    color: white;
    font-size: 1rem;
    text-decoration: none;
    outline: 1px solid white;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 5px;
    transition: 0.2s ease-in-out;
}

.reset:hover {
    font-size: 20px;
    text-decoration: none;
    background-color: white;
    color: black;
}